.cards-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
}

.agency-card{
    width: 250px;
}

.agencies-container{
    padding: 7% 2% 5% 2%;

}

.card-field{
    font-weight: bold;
}

.search-filters{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
}